body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    background-color:hsl(30, 18%, 87%) ;
}

h1 {
    font-family: 'Young Serif',serif;
    font-size: x-large;
    color: hsl(24, 5%, 18%);
}

h2{
    font-size: large;
    font-family: 'Young Serif', serif;
    color: hsl(14, 45%, 36%);
}

p{
    font-size: smaller;
    font-family: 'Outfit', sans-serif;
    color: hsl(30, 10%, 34%);
}

ul {
    list-style: none; /* Skidamo tačke samo sa nenumerisanih lista */
    padding: 0;
    line-height: 1.8rem;
}

ol {
    list-style: decimal; /* Vraćamo numerisane oznake za <ol> */
    padding: 0;
    line-height: 1.8rem;
    
}


ul li, ol li {
    position: relative;
    padding-left: 20px; /* Prostor za novu tačku */
}

ul li::before{
    content: "•"; /* Prilagođena tačka */
    color: hsl(14, 45%, 36%); /* Boja tačke */
    position: absolute;
    left: 0;
    font-size: 1.2em; /* Veličina tačke */
}

li{
    font-family: 'Outfit', sans-serif;
    font-size: smaller;
    color: hsl(30, 10%, 34%);
}

.recipe{
    margin-top: 4rem;
    width: 40%;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    height: fit-content;
    padding : 20px;
}

.recipe-image img {
    width: 75%; /* Smanjuje sliku */
    display: block;
    margin: 0 auto;
    border-radius: 15px; /* Zaobljene ivice */
}


.preperation{
    background-color: hsl(330, 100%, 98%);
    font-family: 'Outfit', sans-serif;
    font-size: smaller;
    padding: 20px;
    border-radius: 10px; /* Zaobljene ivice */
}

.prep-time{
    font-size: medium;
    color: hsl(332, 51%, 32%);
}

.prep {
    list-style: none; /* Skidamo podrazumevane tačke */
    padding: 0;
}

.prep li {
    position: relative;
    padding-left: 20px; /* Prostor za novu tačku */
}

.prep li::before {
    content: "•"; /* Prilagođena tačka */
    color: hsl(332, 51%, 32%); /* Nova boja tačke */
    position: absolute;
    left: 0;
    font-size: 1.2em; /* Veličina tačke */
}

  

.underline-table{
    width: 100%;
    margin: 2rem 0rem;
    font-family: 'Outfit', sans-serif;
    font-size: smaller;
}

.underline-table td{
    padding: 10px;
    border-bottom: 1px solid #000; /* Crna linija ispod svakog reda */
    text-align: left;
}

.numbers{
    font-family: 'Outfit', sans-serif;
    color: hsl(14, 45%, 36%);
}

.Ingredients {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.instructions {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
